<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>WebIT Django assessment</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <br>
    <a href="{% url 'client_details' %}" class="top-menu" style="display:block; margin: 0 auto;">Client Details</a>
    <br>
    <a href="{% url 'add_client' %}" class="top-menu" style="display:block; margin: 0 auto;">Add Client Details</a>
    <br>
    <a href="{% url 'edit_client' %}" class="top-menu" style="display:block; margin: 0 auto;">Edit Client Details</a>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
